<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Nexus" value="http://pnyasp3bld04:8081/nexus/service/local/nuget/nuget-public/" protocolVersion="2" allowInsecureConnections="true" />
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="Nexus">
			<package pattern="PlatformCoreLib" />
			<package pattern="TARSharedUtilLib" />
			<package pattern="edocs-plan-prov-service-sdk" />
			<package pattern="trs-webservices-sdk" />
			<package pattern="document-service-sdk" />
			<package pattern="mdp-service-sdk" />
			<package pattern="message-service-sdk" />
			<package pattern="paris3-service-sdk" />
		</packageSource>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
	<config>
		<add key="dependencyVersion" value="Highest" />
		<add key="globalPackagesFolder" value="%USERPROFILE%\.nuget\packages" />
		<add key="allowInsecureConnections" value="true" />
	</config>
</configuration>